<ion-content>
    <div>
        <form [formGroup]="form">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div align="center">
                            <ion-img src="/assets/images/logo.png"></ion-img>
                        </div>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="4" offset-lg="4">
                        <ion-list>
                            <ion-item>
                                <ion-label class="font-weight-bold" align="left" position="floating">Nom d'utilisateur
                                </ion-label>
                                <ion-input
                                        formControlName="username"
                                        maxlength=20
                                        type="text"
                                        class="font-weight-bold"
                                        (keyup.enter)="onLogin()">
                                </ion-input>
                            </ion-item>
                            <ion-item lines="none" *ngIf="!form.get('username').valid && form.get('username').touched">
                                    <ion-text class="smallText" color="danger">Le nom d'utilisateur est de 5 à 20 caractère</ion-text>
                            </ion-item>
                            <ion-item >
                                <ion-label class="font-weight-bold" align="left" position="floating">
                                    mot de passe
                                </ion-label>
                                <ion-input
                                        formControlName="password"
                                        maxlength=50
                                        type="password"
                                        class="font-weight-bold"
                                        (keyup.enter)="onLogin()">
                                </ion-input>
                            </ion-item>
                            <ion-item lines="none" *ngIf="!form.get('password').valid && form.get('password').touched">
                                <ion-text class="smallText" color="danger">Le mot de passe est de 6 à 30 caractère</ion-text>
                            </ion-item>
                        </ion-list>

                    </ion-col>
                </ion-row>

                <ion-row>

                    <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="4" offset-lg="4">
                        <ion-button
                                class="font-weight-bold"
                                color="primary"
                                expand="block"
                                (click)="onLogin()">

                            Login
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="4" offset-lg="4">
                        <ion-button
                                class="smallText"
                                color="danger"
                                color="primary"
                                expand="block"
                                fill="clear"
                                routerLink="/subscribe">
                            S'inscrire
                        </ion-button>

                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</ion-content>
