<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-title >
      <ion-label class="font-weight-bold">Modification d'utilisateur</ion-label>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-grid style="margin-top: 10px">
    <form [formGroup]="userForm">
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-item>
            <ion-label class="smallText bold">
              {{user.firstName}} {{user.lastName}}
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="10" offset="1">
          <ion-item lines="none">
            <ion-label class="smallText" align="left">
             <ion-text class="bold"> Email:</ion-text>
              {{user.mail}}
            </ion-label>
          </ion-item>

          <ion-item lines="none">
          <ion-label class="smallText" align="left">
            <ion-text class="bold"> Téléphone:</ion-text>
            {{user.phone}}
          </ion-label>
        </ion-item>
          <ion-item lines="none">
            <ion-label class="smallText" align="left">
              <ion-text class="bold"> Date d'inscription:</ion-text>
              {{user.subsDate|  date:"dd/MM/yyyy à HH:mm"}}
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label class="smallText">
              <ion-text class="bold"> Adresse:</ion-text>
              {{user.adresse}}
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="smallText">
              <ion-text class="bold"> Ville:</ion-text>
              {{user.city}}
            </ion-label>
          </ion-item>



          <ion-item>
            <ion-label class="smallText bold" align="left" position="floating">
              Status:
            </ion-label>
            <ion-select formControlName="state" cancelText="Annuler">
              <ion-select-option value="ACTIVE" >Actif</ion-select-option>
              <ion-select-option value="BLOCKED">Bloqué</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8" offset="2">
          <ion-button expand="block" fill="solid" (click)="onEditUser()" [disabled]="!(userForm.valid)">Editer</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

</ion-content>