<ion-content *ngIf="loadedCommandes?.length > 0">
  <div *ngIf="isLoading" align="center">
  <ion-spinner class="align-middle"  ></ion-spinner>
  </div>
    <ion-grid *ngIf="!isLoading"  class="font-weight-bold topMargin">

      <ion-row class="topMargin"></ion-row>
      <ion-row *ngFor="let commande of loadedCommandes" >
        <ion-col size="1" sizeLg="1" offsetLg="2" class="border-bottom">
          <ion-label class="bold">{{commande.id}}</ion-label>
        </ion-col>
        <ion-col size="2" sizeLg="1" class="border-bottom">
          <ion-label class="smallText">{{commande.dateCommande | date:"dd/MM/yyyy"}}</ion-label>
        </ion-col>

        <ion-col size="2" sizeLg="2" class="border-bottom">
          <ion-label class="smallText">Payement:{{commande.payementMethode}}</ion-label>
        </ion-col>
        <ion-col size="2" sizeLg="2" class="border-bottom">
          <ion-label class="smallText bold">{{commande.total | number:'1.2-2'}} Dhs</ion-label>
        </ion-col>
        <ion-col size="3" sizeLg="1" class="border-bottom">
          <ion-badge [color]="commande.state === 'WAITING'? 'primary': commande.state === 'DELETED'? 'danger': 'success'">
            {{statusTranslate(commande.state)}}
          </ion-badge>
        </ion-col>
        <ion-col size="2" sizeLg="1" class="border-bottom">
          <ion-button size="small" color="secondary" (click)="onDownloadDetails(commande)">
            <ion-icon name="download-outline"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
</ion-content>

<ion-content *ngIf="loadedCommandes?.length == 0" align="center">
  <ion-row class="topMargin"></ion-row>
  <ion-row class="topMargin">
    <ion-col>
      <h2>Aucune Commande enregistré</h2>
    </ion-col>
  </ion-row>

</ion-content>